<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="dbstring" connectionString="Data Source=DESKTOP-GUHADO4\SQLEXPRESS; Initial Catalog=DBcanwehelp; Integrated Security=True;" providerName="System.Data.SqlClient" />

		<add name="practice" connectionString="Data Source=DESKTOP-GUHADO4\SQLEXPRESS; Initial Catalog=practice; Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
